body {
	font-family: Arial, sans-serif;
}

#container {
	width: 1000px;
	margin: auto;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;

}

.column { 
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
}

#indicators{
	justify-content: space-around;
}

.bokeh__plot {
	width: 950px;
    margin: auto;
}

/* Name */
.indicator-title {
	text-align: center;
    padding-top: 0px;
    margin-top: 0px;
}

/* Value */
.indicator-value {
	text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.link {
	text-decoration: none;
}

#facebook {
	width: 70%;
}
