{% extends base %}

{% block preamble %}
    <!-- Open Graph Infos -->
    <meta property="og:fb:app_id" content="283781016271815">
    <meta property="og:title" content="ECOWAS  - Covid19 Tracker">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ecowas-covid19-tracker.herokuapp.com">
    <meta property="og:image" content="https://ecowas-covid19-tracker.herokuapp.com/dashboard/static/img/cover.png">
    <meta property="og:description" content="Dashboard for Covid19 tracking in ECOWAS">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="400">
    <link rel="stylesheet" href="dashboard/static/css/style.css">
    <link rel="shortcut icon" href="dashboard/static/img/favicon.png">
    <!-- Facebook comments -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v7.0&appId=283781016271815&autoLogAppEvents=1" nonce="DfsG79O6"></script>
    <!-- AddThis-->
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5e1ed9905267f8e8"></script>
{% endblock %}

{% block contents %}
    <div id="container">
        <!-- Header -->
        <hr>
        <div class="row">
            <div class="column">
                <h1>ECOWAS - Covid19 Tracker</h1>
                <p>Last Update: {{ update_date }}</p>
            </div>
            <div class="column">
                <div class="row">
                    <span>by</span>
                    <h2><a class="link" href="https://github.com/joekakone" target="_blank">Joseph Konka</a></h2>
                </div>
                <p class="right">from <a class="link" href="http://www.rintio.com" target="_blank"><strong>RINTIO DataLab</strong></a></p>
            </div>
        </div>
        <hr>
        <div>
            <!-- Indicators -->
            <div id="indicators" class="row">
                {% for name in indicator_names %}
                <div class="indicator">
                    <h2 class="indicator-value">{{ indicators[name].value }}</h2>
                    <h5 class="indicator-title">{{ indicators[name].title }}</h5>
                </div>
                {% endfor %}
            </div>
            <hr>
            <!-- Bokeh Plots -->
            <div class="column">
                <div class="bokeh__plot">
                    <p>With the select widget choose the indicator to view</p>
                    {{ embed(roots.barplot) }}
                </div>
                <h2>Map Plot</h2>
                <div class="bokeh__plot">
                    {{ embed(roots.geoplot) }}
                </div>
                <h2>Explore</h2>
                <div class="bokeh__plot">
                    <p>With the widgets you can choose the axes of the graphs. The size of the bubbles represents the number of deaths.</p>
                    {{ embed(roots.layout) }}
                </div>
                <h2>Raw Data</h2>
                <div class="bokeh__plot">
                    {{ embed(roots.data_table) }}
                </div>
            </div>

            <!-- Feedbacks -->
            <h2>Comments & Feedbacks</h2>
            <p>Feel free to leave your feedbacks in comments or tell what you think about the management of the crisis in ECOWAS zone. Share the tool with your friends and colleagues. Kind regards !</p>
            <div id="facebook">
                <!-- Facebook like -->
                <div class="fb-like" data-href="https://ecowas-covid19-tracker.herokuapp.com" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                <!-- Facebook comments -->
                <div class="fb-comments" data-href="https://ecowas-covid19-tracker.herokuapp.com" data-numposts="5" data-width="100%" data-colorscheme="light"></div>
            </div>

            <!-- About -->
            <div>
                <h2>Source</h2>
                <p>The data used comes exclusively from <a class="link" href="https://github.com/CSSEGISandData/COVID-19" target="_blank">https://github.com/CSSEGISandData/COVID-19</a></p>

                <h2>Author</h2>
                <p>Joseph Konka works at RINTIO as Junior Data Scientist. He received his bachelor of mathematics at University of Lomé in 2019. He is currently living at Cotonou.<a class="link" href="https://github.com/joekakone">Discover more..</a></p>
            </div>

            <!-- Disclaimer -->
            <div>
                <hr>
                <p class="center"><strong>This project has no relation with ECOWAS Organization. Please contact <a class="link" href="mailto:joseph.kakone@gmail.com">joseph.kakone@gmail.com</a> for more informations.</strong></p>
            </div>
        </div>
    </div>
{% endblock%}